.body{
    font-family: 'Merriweather', serif;
    width: 1320px;
    height: 600px;
    background-position: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 344px;
    text-align: center;
}
.container{
    position: relative;
    
}
.text-block{
    position: absolute;
    bottom: 100px;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    color: white;
    padding-left: 344px;
    padding-right: 344px;
    border-radius: 16px;
    background-position: center;
    
}

.title{
    font-size: 32px
    font-weight: 400;
    padding-left: 344px;
    padding-right: 344px;
    margin-left: 32px;
    margin-right:40px;
}

.greeting{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 72px 95px;
}

section{
    text-align: center;
    padding: 150px;
}

.off{
    width: 1600px;
    height: 735px;
}

.section-title{
    color: #F00;
    font-size: 88px;
    font-weight: 700
    padding: 88px 107px;
}

.section-greeting{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding:48px 0px 0px 0px
}

.section-description{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding: 0px;
    gap: 0;
}

.section-container{
    position: relative;
    text-align: center;
}
.section-container{
    position: relative;
}

.party{
    padding: 200px;
}

.type{
    position: absolute;
    bottom: 200px;
    left: 700px;
    /* background-color: black; */
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
}

.party-title{
    width: 642px;
    text-align: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    
}

.party-description{
    width: 697px;
    color:rgba(255, 255, 255, 0.80); 
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}

.join{
    color: red;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
    

.about{
    background-position: center;
    background: antiquewhite;
    width: 1320px;
    height: 482px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: 600px;
}

.text-primary{
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize
}

.info-title{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.join-now{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
}

.offer{
    /* width: 1600px;
    height: 7335px; */
    /* background: #FFF; */
    background-position: center;
    padding: 140px;
    align-items: center;
    justify-content: center;
}

.offer-title{
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}

.offer-greeting{
    color: #070211;
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

/* .offer-description{ */
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}

/* .img-ellipse{ */
    /* width: 1600px;
    height: 7335px; */
    background-position: center;
    /* width: 463px;
    height: 463px; */
    border: 15px;
    border-radius: 463px;
    border: 15px solid #F00;
    width: 370.880px;
    height: 370.880px;
}

.offer{
    padding: 130px;
    border-radius: 10px;
}

.offer-year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.offer-year-detail{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-info-container, .offer-info{
    border-radius: 5px;
    margin: 10px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px black;
    box-shadow: none;
    
}

.Portfolio-title{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.Portfolio-greeting{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;
}

.Portfolio-description{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}

.Portfolio-container{
    display: flex;
    gap: 24px;
}
.bag{
    list-style: none;
}